<head>
    <title><%- title %></title>
    <meta charset="utf-8">
    <meta name="robots" content="index, follow" />
    <meta name="description" content="<%- description %>" />
    <meta name="keywords" content="<%- keywords %>" />
    <meta name="author" content="איתי טננבאום" />
    <meta name="revised" content="21/04/2017" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/ico" href="favicon.ico" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/master.css" />
    <link rel="stylesheet" href="css/page.css" />
    <link rel="stylesheet" href="css/contact.css" />
</head>