<body dir="rtl">
    <div id="body-container">
        <% include ./top %>
        <% include ./mid %>
        <% include ./bottom %>
    </div>

    <!-- SCRIPTS -->
    <% include ../scripts %>
</body>