<div id="mid">
	<% include ./side-bar %>
		<div class="navTop">
			<a class="navPrev" href="<?php echo $prevP; ?>">« אחורה</a>
			<a class="navNext" href="<?php echo $nextP; ?>">קדימה »</a>
		</div>
		
		<article>
			<%% $path %%>
		</article>

		<div class="navBtm">
			<a class="navPrev" href="<?php echo $prevP; ?>">« אחורה</a>
			<a class="navNext" href="<?php echo $nextP; ?>">קדימה »</a>
		</div>
</div>
