<div id="right_side">
	<ul id="piano-menu">
		<li class="white"><a href="intro">התחלה</a></li>
		<li class="black"></li>
		<li class="white"><a href="chapters">רשימת הפרקים</a></li>
		<li class="black"></li>
		<li class="white inactive"><a href="#">תרגול</a></li>
		<li class="black"></li>
		<li class="white inactive"><a href="#">רשומות</a></li>
		<li class="white"><a href="about">אודות ותודות</a></li>
		<li class="black"></li>
		<li class="white"><a href="contact">צרו קשר</a></li>
		<li class="black"></li>
		<li class="white"><a href="home">דף הבית</a></li>
	</ul>
	<div id="desc"></div>
</div>